<% title(t("admin.system")) %>
<div class="span-24 header">
  <h1><%= t("admin.system") -%></h1>
</div>
<div class="span-24 nav">
  <ul>
    <li><%= link_to t("top.back_home"), root_path %></li>
    <li><%= link_to t("top.logout"), logout_path %></li>
  </ul>
</div>
<div class="span-24 admin_section">
  <h2><%= t("admin.bookmarks") -%></h2>
  <div><%= link_to t("bookmarks.new"), new_bookmark_path %></div>
  <table>
    <tr>
      <th><%= t("top.title") -%></th>
      <th><%= t("top.link") -%></th>
      <th><%= t("top.catagory") -%></th>
      <th><%= t("top.operation") -%></th>
    </tr>

  <% @bookmarks.each do |bookmark| %>
    <tr>
      <td><%=h bookmark.title %></td>
      <td><%= link_to bookmark.link %></td>
      <td><%=h bookmark.catagory.nil? ? '' : bookmark.catagory.name %></td>
      <td><%= link_to t("top.edit"), edit_bookmark_path(bookmark) %> | 
        <%= link_to t("top.destroy"), bookmark, :confirm => t("top.sure"), :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class="span-24 admin_section">
  <h2><%= t("admin.catagories") -%></h2>
  <div><%= link_to t("catagory.new"), new_catagory_path %></div>
  <table>
    <tr>
      <th><%= t("top.cat_name") -%></th>
      <th><%= t("top.operation") -%></th>
    </tr>

  <% @catagories.each do |catagory| %>
    <tr>
      <td><%=h catagory.name %></td>
      <td><%= link_to t("top.edit"), edit_catagory_path(catagory) %> | 
        <%= link_to t("top.destroy"), catagory, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>